.container {
  display: grid;
}

li {
  display: flex;
  width: 100%;
}

li .description {
  flex: 1;
  width: 40%;
  text-align: justify;
  justify-content: center;
  padding: 10px;
}

li .project {
  width: 60%;
}

main{
    background-color: chocolate;
}
